---
import '../styles/global.css'
import Layout from "../layouts/Layout.astro";
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { getCollection } from 'astro:content';

const allPosts = await getCollection('blog');
---

<Layout>
    <Header />

    <section class="py-40">
        <div class="max-w-3xl mx-auto">
          <div class="text-center mb-15">
            <h1 class="title text-5xl font-black">Blog articles</h1>
          </div>
          <div class="p-3">
            {allPosts.map((post) => (
               <a href={`/posts/${post.id}`} class="flex gap-3 items-center bg-white p-5 border-2 mb-5 transition-all duration-200 hover:shadow-[4px_4px_0px_rgba(0,0,0,0.3)]">
                <div>
                  <div class="w-[200px] h-[130px] overflow-hidden border-2">
                    <img src={post.data.image?.url} alt={post.data.image?.alt || ''} class="w-full h-full object-cover" />
                  </div>
                </div>
                <div class="flex flex-col gap-2">
                    <h2 class="line-clamp-2 text-xl font-bold">{post.data.title}</h2>
                    <p class="text-sm text-gray-500">{post.data.pubDate}</p>
                </div>
               </a>
             ))}
          </div>
        </div>
    </section>

    <Footer />
</Layout>
